# dependencies
node_modules
functions/node_modules

# build output
dist
dist-ssr
functions/lib

# env / secrets
.env
.env.local
.env.*.local
.firebase/
*-service-account.json
service-account*.json

# misc
.DS_Store
*.log
.vite
.netlify
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log

# editor
.idea
.vscode/*
!.vscode/extensions.json
